<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.jmeischner.bear</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>07D8B26B-96BF-45B3-B933-B1A0DB21C524</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50ABED48-7202-4F03-A69F-310C99D10501</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50ABED48-7202-4F03-A69F-310C99D10501</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A809F9CD-2262-4016-91A2-EC39C9F70031</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C8038DD-20A6-4A42-A79C-52993C619D5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2FF383B-D71B-4D94-B934-F9D186B9ACD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A809F9CD-2262-4016-91A2-EC39C9F70031</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B80EA997-94AB-4D75-B83B-3488EA7F7129</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2FF383B-D71B-4D94-B934-F9D186B9ACD4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07D8B26B-96BF-45B3-B933-B1A0DB21C524</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bear</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>1</integer>
				<key>script</key>
				<string>cat "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B2FF383B-D71B-4D94-B934-F9D186B9ACD4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>import sys, urllib; 

text = sys.argv[1]
encoded_text = urllib.quote(text, safe='')

print(encoded_text)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A809F9CD-2262-4016-91A2-EC39C9F70031</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>open bear://x-callback-url/create?text=$1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B80EA997-94AB-4D75-B83B-3488EA7F7129</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>07D8B26B-96BF-45B3-B933-B1A0DB21C524</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bear</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>choose template</string>
				<key>title</key>
				<string>bear</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5C8038DD-20A6-4A42-A79C-52993C619D5F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{clipboard}",
    "config" : {
    },
    "variables" : {
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>50ABED48-7202-4F03-A69F-310C99D10501</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>07D8B26B-96BF-45B3-B933-B1A0DB21C524</key>
		<dict>
			<key>note</key>
			<string>Replace all placeholders with alfred snippet logic</string>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>50ABED48-7202-4F03-A69F-310C99D10501</key>
		<dict>
			<key>note</key>
			<string>Replace {query} with {clipboard}</string>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>5C8038DD-20A6-4A42-A79C-52993C619D5F</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>A809F9CD-2262-4016-91A2-EC39C9F70031</key>
		<dict>
			<key>note</key>
			<string>Urlencode template text</string>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>B2FF383B-D71B-4D94-B934-F9D186B9ACD4</key>
		<dict>
			<key>note</key>
			<string>Get template text</string>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>B80EA997-94AB-4D75-B83B-3488EA7F7129</key>
		<dict>
			<key>note</key>
			<string>Create bear note from template</string>
			<key>xpos</key>
			<integer>925</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>bearTemplateDirectory</key>
		<string>~/.bear-templates</string>
	</dict>
	<key>version</key>
	<string></string>
</dict>
</plist>
