<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>de.jmeischner.bear</string>
    <key>category</key>
    <string>Tools</string>
    <key>connections</key>
    <dict>
      <key>07070BCD-907F-49F0-A9FE-439FA773DBF2</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>CA6467D3-FD65-44D6-ADCA-F4255A377CFB</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>18614C57-0E61-41D6-BA84-7202F64946BA</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>5A5BB3CD-917E-4A09-9769-B7EB074A3333</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>5A5BB3CD-917E-4A09-9769-B7EB074A3333</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>6834784E-3E44-4B26-B95E-828C02FCD04E</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>5A602234-A199-4DA8-8758-00CBE20D46B2</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>E3B6A220-5D30-45D4-83BE-1F6026E1B344</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>5C8038DD-20A6-4A42-A79C-52993C619D5F</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>18614C57-0E61-41D6-BA84-7202F64946BA</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>6834784E-3E44-4B26-B95E-828C02FCD04E</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>5A602234-A199-4DA8-8758-00CBE20D46B2</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>sourceoutputuid</key>
          <string>FF8342CE-2737-4666-B1E2-4AF2FB161C63</string>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>CA6467D3-FD65-44D6-ADCA-F4255A377CFB</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>B4548DFD-B724-4667-AB95-C1CE6BFE4E9F</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>8829215E-D666-4099-A10F-72439953C11E</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>CA6467D3-FD65-44D6-ADCA-F4255A377CFB</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>B4548DFD-B724-4667-AB95-C1CE6BFE4E9F</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>E3B6A220-5D30-45D4-83BE-1F6026E1B344</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>07070BCD-907F-49F0-A9FE-439FA773DBF2</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>Jan Meischner</string>
    <key>description</key>
    <string>Alfred Workflow to handle bear templates</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>Bear Templates</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>subtext</key>
          <string/>
          <key>text</key>
          <string>{var:question}</string>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.keyword</string>
        <key>uid</key>
        <string>E3B6A220-5D30-45D4-83BE-1F6026E1B344</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string/>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>answer</key>
            <string>{query}</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>07070BCD-907F-49F0-A9FE-439FA773DBF2</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string/>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>5A602234-A199-4DA8-8758-00CBE20D46B2</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true/>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>1</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>keyword</key>
          <string>bt</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string>Looking for Templates</string>
          <key>script</key>
          <string>./node_modules/.bin/run-node workflow/alfred/templates.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>subtext</key>
          <string>choose template</string>
          <key>title</key>
          <string>Bear Template</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>5C8038DD-20A6-4A42-A79C-52993C619D5F</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>./node_modules/.bin/run-node workflow/alfred/compile.js</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>CA6467D3-FD65-44D6-ADCA-F4255A377CFB</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>./node_modules/.bin/run-node workflow/alfred/open.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>8829215E-D666-4099-A10F-72439953C11E</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>conditions</key>
          <array>
            <dict>
              <key>inputstring</key>
              <string>{query}</string>
              <key>matchcasesensitive</key>
              <false/>
              <key>matchmode</key>
              <integer>1</integer>
              <key>matchstring</key>
              <string/>
              <key>outputlabel</key>
              <string>Ask Question</string>
              <key>uid</key>
              <string>FF8342CE-2737-4666-B1E2-4AF2FB161C63</string>
            </dict>
          </array>
          <key>elselabel</key>
          <string>No Question</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.conditional</string>
        <key>uid</key>
        <string>6834784E-3E44-4B26-B95E-828C02FCD04E</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>delimiter</key>
          <string>^</string>
          <key>trimarguments</key>
          <false/>
          <key>variableprefix</key>
          <string>split</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.split</string>
        <key>uid</key>
        <string>18614C57-0E61-41D6-BA84-7202F64946BA</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string>{var:split5}</string>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>newWindow</key>
            <string>{var:split3}</string>
            <key>question</key>
            <string>{var:split5}</string>
            <key>script</key>
            <string>{var:split2}</string>
            <key>template</key>
            <string>{var:split1}</string>
            <key>variables</key>
            <string>{"var": {var:split4}}</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>5A5BB3CD-917E-4A09-9769-B7EB074A3333</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string>{query}</string>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>template</key>
            <string>{query}</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>B4548DFD-B724-4667-AB95-C1CE6BFE4E9F</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
    </array>
    <key>readme</key>
    <string/>
    <key>uidata</key>
    <dict>
      <key>07070BCD-907F-49F0-A9FE-439FA773DBF2</key>
      <dict>
        <key>xpos</key>
        <integer>800</integer>
        <key>ypos</key>
        <integer>40</integer>
      </dict>
      <key>18614C57-0E61-41D6-BA84-7202F64946BA</key>
      <dict>
        <key>xpos</key>
        <integer>195</integer>
        <key>ypos</key>
        <integer>130</integer>
      </dict>
      <key>5A5BB3CD-917E-4A09-9769-B7EB074A3333</key>
      <dict>
        <key>xpos</key>
        <integer>280</integer>
        <key>ypos</key>
        <integer>130</integer>
      </dict>
      <key>5A602234-A199-4DA8-8758-00CBE20D46B2</key>
      <dict>
        <key>xpos</key>
        <integer>530</integer>
        <key>ypos</key>
        <integer>40</integer>
      </dict>
      <key>5C8038DD-20A6-4A42-A79C-52993C619D5F</key>
      <dict>
        <key>xpos</key>
        <integer>10</integer>
        <key>ypos</key>
        <integer>100</integer>
      </dict>
      <key>6834784E-3E44-4B26-B95E-828C02FCD04E</key>
      <dict>
        <key>xpos</key>
        <integer>385</integer>
        <key>ypos</key>
        <integer>120</integer>
      </dict>
      <key>8829215E-D666-4099-A10F-72439953C11E</key>
      <dict>
        <key>xpos</key>
        <integer>1270</integer>
        <key>ypos</key>
        <integer>115</integer>
      </dict>
      <key>B4548DFD-B724-4667-AB95-C1CE6BFE4E9F</key>
      <dict>
        <key>xpos</key>
        <integer>1160</integer>
        <key>ypos</key>
        <integer>145</integer>
      </dict>
      <key>CA6467D3-FD65-44D6-ADCA-F4255A377CFB</key>
      <dict>
        <key>xpos</key>
        <integer>955</integer>
        <key>ypos</key>
        <integer>115</integer>
      </dict>
      <key>E3B6A220-5D30-45D4-83BE-1F6026E1B344</key>
      <dict>
        <key>xpos</key>
        <integer>615</integer>
        <key>ypos</key>
        <integer>10</integer>
      </dict>
    </dict>
    <key>variables</key>
    <dict>
      <key>bearTemplateIndex</key>
      <string>~/.bear-templates/index.yml</string>
    </dict>
    <key>version</key>
    <string>1.0.0</string>
    <key>webaddress</key>
    <string>https://github.com/jmeischner/alfred-bear#readme</string>
  </dict>
</plist>