name: Tests

on: [push]

jobs:
  run:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: install dependencies
        run: npm ci --ignore-scripts
      - name: run tests
        run: npm run test
